/* tab and photo*/
.overlay-photo{
    color: #fff;
}
.intro-photo {
    display: block;
    min-height: 100%;
    position: relative;
    background-image: url(/Images/4H9A8705.jpg);
    background-position: center;
    background-size: cover;
}
.overlay-photo{
    background: rgba(23,118,247,0.2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00333333',endColorstr='#8c333333',GradientType=0);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}
body, html {
    height: 100%;
    position:relative;
    margin: 0px;
}
.container{
    height:500px
}
.intro-text{  
    padding-top:20%;  
    font-family: Montserrat;   
    text-align: center;
}
.intro-text h1{
	font-size: 60px;
    padding-left:20%;
    padding-right:20%;
    font-weight:bolder;
}
.intro-text span{
    padding-top:30px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #e4e4e4;
}
.tab-menu{
    margin-top:50px;
}
.tab-menu li:first-child{
    width: 180px;
	height: 120px;	
	border-radius: 60px 0 0 60px;
	-webkit-box-shadow: 0 0 20px rgba(52,75,123,.15);
	-moz-box-shadow: 0 0 20px rgba(52,75,123,.15);
	box-shadow: 0 0 20px rgba(52,75,123,.15);
}
.tab-menu li:last-child{
    width: 180px;
	height: 120px;	
	border-radius: 0px 60px 60px 0px;
	-webkit-box-shadow: 0 0 20px rgba(52,75,123,.15);
	-moz-box-shadow: 0 0 20px rgba(52,75,123,.15);
	box-shadow: 0 0 20px rgba(52,75,123,.15);
}
.tab-menu .tab-holder-middle{
}
.tab-menu .tab-title{
    font-family: Montserrat;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}
.tab-menu i.fa{
    font-size:42px;
    display:block;
    
}
.tab-menu ul{
    list-style-type:none;
    display: flex;
    justify-content: center;
}
.tab-menu li{
    cursor:pointer;
    position:relative;
    border-right: 1px solid rgba(69,75,74,1);
    background-color:  rgba(0, 0, 0, 0.33);
}
.tab-menu li.active, .tab-menu li:hover{
	background-color: #6fc754;
}
.tab-menu li:last-child{
    border-right: none;
}
.tab-menu .tab-title{
    position:absolute;
    width: 130px;
    text-align: center;
    right: 0px;
    top: 76px;
}
.tab-menu i.fa {
    top:25px;
    position: absolute;
    right: 0px;
    width: 130px;
    text-align: center;
}
.tab-menu li:last-child .tab-title, .tab-menu li:last-child i.fa{
    right:initial;
    left:0px;
}
.tab-menu .tab-holder-middle, .tab-menu .tab-holder-middle i.fa, .tab-menu .tab-holder-middle .tab-title{
    width:150px;
}
/* top menu*/

section.top-menu{
    padding-top:60px;
}
#logo{
    font-family: Arial;
	font-size: 24px;
	font-weight: bold;
}
#menu{
    display:flex;
    justify-content:center;
    list-style-type:none;
    padding:0;
}
#menu li{
    font-family: Montserrat;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
    cursor:pointer;   
}
#menu li.active,#menu li:hover {
    opacity:0.4;
}

