<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/font-awesome.min.css" rel="stylesheet" />
    <link href="Content/lanai-icon.css" rel="stylesheet" />
    <link href="Content/Site.css" rel="stylesheet" />
</head>
<body ng-app="lanaiApp" ng-controller="homeController">
        <div class="intro-photo">
            
        </div>
        <div class="overlay-photo">
            <div class="container">
                <section class="top-menu row">

                    <div class="logo col-md-3 col-sm-2">Lānaʻi Guide</div>
                    <div class="col-md-6 col-sm-8">
                        <ul class="menu opacity-8">
                            <li class="col-lg-offset-1 col-md-2 active col-sm-offset-0">Explore</li>
                            <li class="col-md-2">Places</li>
                            <li class="col-md-2">Hikes</li>
                            <li class="col-md-2">Driving</li>
                            <li class="col-md-2">More</li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-2 text-right" id="search"><i class="fa fa-search"></i></div>

                </section>
            </div>
            <section class="intro-text">
                <h1>Explore the rich natural and cultural history of Lānaʻi.</h1>
                <span>Please select an option</span>
            </section>
            <section class="tab-menu">
                <ul>
                    <li class="active">
                        <i class="fa lanai-compass"></i>
                        <span class="tab-title">Explorer</span>
                    </li>
                    <li class="tab-holder-middle">
                        <i class="fa lanai-place"></i>
                        <span class="tab-title">Places</span>
                    </li>
                    <li class="tab-holder-middle">
                        <i class="fa lanai-hike"></i>
                        <span class="tab-title">Hikes</span>
                    </li>
                    <li>
                        <i class="fa lanai-car"></i>
                        <span class="tab-title">Driving Tour</span>
                    </li>
                </ul>
            </section>
        </div>
        <div id="container">
            <div id="viewButton">
                <div class="field">
                    <div ng-repeat="v in viewButtons" ng-click="common.activeView=v" ng-class="{'active':common.activeView==v}" class="small-button">{{v}}</div>
                </div>
            </div>
            <div class="container" id="pageContent">
                <div class="row">
                        <div ng-repeat="i in getNumber(12) track by $index" class="col-md-4 col-sm-6 col-lg-3 m-b-50">
                            <div class="photo-item" style="background-image:url(/Images/4H9A8442-Edit.jpg)">
                                <div class="label-icon lanai-car" ng-class="{'lanai-place':$index==2,'lanai-hike':$index==3,'lanai-car':$index==1 }"></div>
                                <div class="card col-lg-12 no-padding">
                                    <div class="top-info">
                                        <div class="col-sm-4 text-center"><i class="fa fa-camera"></i> <span class="counter">5</span></div>
                                        <div class="col-sm-4 text-center"><i class="fa fa-video-camera"></i> <span class="counter">2</span></div>
                                        <div class="col-sm-4 text-center"><i class="fa fa-volume-up"></i> <span class="counter">7</span></div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="title">New Ideas For A Low Cost Vacation On Water</div>
                                        <div class="description">
                                            In recent years people have realized the importance of proper diet and exercise, and recent surveys show that over the last 20 years people are eating better and working out more often, resulting in people living longer, but people are still lacking in their understanding that their mental well being is just as important as their physical health.

                                            Today most people get on average 4 to 6 hours of exercise every day, and make sure that everything they put in their mouths is not filled with sugars or preservatives, but they pay no attention to their mental health, no vacations, not even the occasional long weekend, 60 hour weeks, taking work home with them and even working weekends. All of this for hopes of one day getting that big promotion. What good will it do you when your brain overloads and you have a breakdown in the office.

                                            In the end your physical health will suffer no matter how well you eat and how often you exercise. You will wind up with high blood pressure, stress and tension all of which raises the chances of you having a stroke or heart attack.

                                            In hopes of helping you avoid this I am providing you with the things I do to keep my mental health in tip top condition.

                                            My absolute favorite thing to do to refocus myself is to go for a long ride on my Harley. Nothing brings the world back into focus like riding free like the wind, there is no better forms of therapy as far as I
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>   
                </div>
                <div id="loadMore" class="content-center">
                    <button class="button">Load more </button>
                </div>
            </div>
            <div id="footer">
                <div class="container">
                    <section class="top-menu row">
                        <div class="logo col-md-3 col-sm-2">Lānaʻi Guide</div>
                        <div class="col-md-6 col-sm-8">
                            <ul class="menu opacity-8">
                                <li class="col-md-2 active col-sm-offset-0">Explore</li>
                                <li class="col-md-2">Places</li>
                                <li class="col-md-2">Hikes</li>
                                <li class="col-md-2">Driving</li>
                                <li class="col-md-2">About</li>
                                <li class="col-md-2">Downloads</li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-2 content-right social-icon"> <i class="fa fa-twitter"></i> <i class="fa fa-facebook"></i> <i class="fa fa-google-plus"></i></div>
                    </section>
                    <div class="line col-lg-10 col-lg-offset-1"></div>
                    <section class="footer-content row">
                        <div class="col-md-3 text-center col-sm-2 uppercase-text opacity-3">© Lānaʻi Guide, 2016. All Rights Reserved.</div>
                        <div class="col-md-6 col-sm-8 opacity-3">
                            <ul class="menu privacy">
                                <li class="col-sm-6 text-right">Privacy Policy</li>
                                <li class="col-sm-6">Terms and Conditions</li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-2 content-right">
                            <div id="download-icon"></div>
                        </div>
                    </section>
                </div>
            </div>
        </div>       
    <script src="Scripts/jquery-3.0.0.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/app/homeCtrl.js"></script>
</body>
</html>
